* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  background-color: #56bc8a;
  color: white;
}

h1 {
  text-align: center;
}

main {
  display: flex;
}

.container {
  width: 200px;
  height: 300px;
  margin: 30px auto;
  position: relative;
  top: 5vh;
  
}

.vertical {
  background: white;
  width: 25px;
  height: 300px;
  position: absolute;
  right: 25px;
  
}

.horizontal {
  background: white;
  width: 200px;
  height: 25px;
  position: absolute;
  bottom: 0;
}

.hook {
  width: 125px;
  height: 50px;
  border: solid 25px white;
  border-bottom: none;
  position: absolute;
  right: 25px;
}

.man {
  width: 100px;
  height: 175px;
  position: absolute;
  top: 50px;
  left: 23px;
}

.man-1 {
  width: 40px;
  height: 40px;
  border: solid 10px white;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: 19px;
  display: none;
}

.man-2 {
  background: white;
  width: 10px;
  height: 70px;
  position: absolute;
  top: 37px;
  left: 34px;
  display: none;
}

.man-3 {
  background: white;
  width: 10px;
  height: 60px;
  position: absolute;
  top: 30px;
  left: 13px;
  transform: rotate(-50deg);
  display: none;
}

.man-4 {
  background: white;
  width: 10px;
  height: 60px;
  position: absolute;
  top: 30px;
  right: 36px;
  transform: rotate(50deg);
  display: none;
}

.man-5 {
  background: white;
  width: 10px;
  height: 60px;
  position: absolute;
  bottom: 18px;
  left: 15px;
  transform: rotate(40deg);
  display: none;
}

.man-6 {
  background: white;
  width: 10px;
  height: 60px;
  position: absolute;
  bottom: 18px;
  right: 37px;
  transform: rotate(-40deg);
  display: none;
}

.content {
  display: inline-block;
  margin: 0 auto;
}

#word {
  text-align: left;
  font-size: 25px;
  padding-top:10vh;
}

.guess-container {
  text-align: left;
  font-size: 25px;
  margin-top: 10vh;
}

#guess {
  font-size: 25px;
  text-align: center;
  width: 50px;
  border: none;
  border: solid 2px white;
  outline: none;
  text-transform: capitalize;
}

#misses {
  text-align: left;
  font-size: 20px;
  margin-top: 10vh;
}

.instruction {
  text-align: left;
  font-size: 15px;
  margin-top: 10vh;
}